<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
  <!-- <link href="css/bootstrap-responsive.min.css" rel="stylesheet"> -->
  
<!-- </head> -->
<body>

  <div class="w3-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 50px;">
      <a class="navbar-brand" href="#">Sleep Stage Scoring</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
              </ul>
              <form class="form-inline my-6 my-lg-3 bg-dark">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item ">
                    <a class="nav-link" style="font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;" href="#sleepstagescoring">Sleep Stage Scoring</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" style="font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;" href="#transferlearning">Transfer Learning</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" style="font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;" href="#ourwork">Our Work</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" style="font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;" href="#trydemo">TRY DEMO</a>
                  </li>
                      <li class="nav-item">
                        <a routerLink="/login" class="nav-link" style="font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;" href="#">Sign In</a>
                      </li>
                      <li class="nav-item">
                        <a routerLink="/register" class="nav-link" style="font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;" href="#">Sign Up</a>
                      </li>
              </ul>
              </form>

            </div>
          </nav>
  </div>
  <div class="container">
    <div class="row">
    <div class="col-md-7 mt-7 mx-auto">
        <img src="src/app/uploadfile/brainwaves1.png" alt="brainwave" style="width: 550px;">
  
      </div>
      <div class="col-md-5 mt-5 mx-auto">
        <br><br><br><br><br><br><br><br><br><br>
      <h3 class="w3-center" style="color: #283747; font-size: 200%; font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;">THANK YOU</h3>
      <h4 class="" style="color: #283747; font-size: 160%; margin-left: 138px; font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;">FOR REGISTERATION</h4>
      <br>

      <a routerLink="/" class="btn btn-primary btn-lg w3-right" style="font-family: Lucida Sans Unicode, Lucida Grande, sans-serif; margin-right: 60px;"role="button">Go to homepage</a>

  </div>
  </div>
  </div>

  </body>
  </html>